    h1{
      color: rgb(240, 141, 141);
      background-color: rgb(46, 27, 27);
    }
    p{
      color: blueviolet;
      background-color: antiquewhite;
    }
    img{
      height: 300px;
      width: 450px;

    }
    h2{
      color: rgb(121, 57, 12);
      text-align: center;
      background-color: aqua;
    }